:not(.dark) .milkdown code span {
  color: var(--shiki-light, inherit);
}

.dark .milkdown code span {
  color: var(--shiki-dark, inherit);
}

.light .milkdown code span {
  color: var(--shiki-light, inherit);
}
