:not(.dark) .vp-code span {
  color: var(--shiki-light, inherit);
}

.dark .vp-code span {
  color: var(--shiki-dark, inherit);
}

.light .vp-code span {
  color: var(--shiki-light, inherit);
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits='4'] > [data-line]::before {
  width: 2.25rem;
}

code[data-line-numbers-max-digits] > [data-line]::before {
  width: calc(0.75rem + ((var(--line-numbers-max-digits) - 1) * 0.25rem));
}
