@layer base {
  /*
  @font-face {
    font-family: 'geist-sans';
    src: url('/fonts/Geist/geist.woff2') format('woff2');
    font-display: swap;
  }
  */

  ::-webkit-scrollbar {
    @apply w-2;
    @apply h-2;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-base-300);
    @apply bg-base-300;
    background: red;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-base-300/30 rounded-sm;
    background: blue;
  }

  /* Firefox */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
  html {
    scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
  }

  html.dark {
    scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .antialised {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
